<main>
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="assets/img/slider.jpeg" style="height: 770px"
                         alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">World of Warcraft</h3>
                    <p>First fav Game</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="assets/img/slider2.jpeg" style="height: 770px"
                         alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary fav Game</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="assets/img/three.jpeg" style="height: 770px"
                         alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third fav Game</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  <div class="container-fluid  secondary-bg">
      <section>
            <div class="row container mx-auto ">
              <div class="row mx-auto">
                <h3 class="text-center font-weight-bold my-5 primary-color">Sozialfachkräfte</h3>
              </div>
                <div class="col-md-12">
                    <div class="card default-bg">
                        <div class="card-body px-5 pt-5 pb-4">
                            <div class="row">
                                <div class="col-md-5 ">
                                    <div class="view overlay z-depth-1 mb-4">
                                        <img src="assets/img/8.jpeg" class="img-fluid rounded-0"
                                             alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-left mb-md-5 mb-4 secondary-color">
                                    <h4 class="mb-3"><strong>Kommunikation</strong></h4>
                                    <p class="dark-grey-text">Das Vier-Seiten-Modell (auch Nachrichtenquadrat, Kommunikationsquadrat oder Vier-Ohren-Modell) von Friedemann Schulz von Thun ist ein Modell der Kommunikationspsychologie, mit dem eine Nachricht unter vier Aspekten oder Ebenen beschrieben wird: Sachinhalt, Selbstoffenbarung, Beziehung und Appell. Diese Ebenen werden auch als „vier Seiten einer Nachricht“ bezeichnet.</p>
                                    <p>by <a><strong>Esmaeil Ebrahimi</strong></a>, 04/02/2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center font-weight-bold mb-5 mt-5 primary-color">The words of the elders</h3>

            <div class="card text-center secondary-bg primary-color container border-secondary">
                <div class="card-body px-5 pt-5 pb-4 secondary-bg ">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="single-news">

                            <div class="row mb-3">
                              <div class="col-md-4">
                                <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                  <img src="assets/img/1.jpeg"
                                       class="img-fluid rounded-0" alt="Minor sample post image">
                                  <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-md-8">
                                <p class="font-small text-left mb-2"></p>
                                <p class="text-left"><a>Wer noch nie einen Fehler gemacht hat,
                                  hat sich noch nie an Neuem versucht
                                  <i class="fas fa-angle-right float-right"></i>
                                </a>
                                </p>
                                <button type="button" class="btn btn-outline-danger float-left">Albert Einstien</button>
                              </div>
                            </div>
                          </div>

                            <div class="single-news">

                                <div class="row mb-3">

                                    <div class="col-md-4">
                                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                            <img src="assets/img/3.jpeg" height=""
                                                 class="img-fluid rounded-0" alt="Minor sample post image">
                                            <a>
                                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="font-small text-left mb-2"></p>
                                        <p class="text-left"><a>Nichts auf der Welt ist mächtiger als eine gute Geschichte. Nichts kann sie aufhalten, kein Feind vermag sie zu besiegen. There's nothing in the world more powerful than a good story.
                                            <i class="fas fa-angle-right float-right"></i>
                                        </a>
                                        </p>
                                        <button type="button" class="btn  float-left btn-outline-danger">Tyrion Lannister</button>
                                    </div>

                                </div>

                            </div>
                            <div class="single-news">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                            <img src="assets/img/monti.jpg"
                                                 class="img-fluid rounded-0" alt="Minor sample post image">
                                            <a>
                                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="font-small text-left mb-2"></p>
                                        <p class="text-left"><a>
                                            <i class="fas fa-angle-right float-right"></i>
                                        </a>
                                          Why anger and hatred when love can be given
                                        </p>
                                        <button type="button" class="btn  float-left btn-outline-danger">Montiego</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-news">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                            <img src="assets/img/6.jpeg"
                                                 class="img-fluid rounded-0" alt="Minor sample post image">
                                            <a>
                                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <p class="font-small text-left mb-2"></p>
                                      <p class="text-left"><a>Wer noch nie einen Fehler gemacht hat,
                                      hat sich noch nie an Neuem versuchtWer noch nie einen Fehler gemacht hat,
                                        hat sich noch nie an Neuem versucht
                                        noch nie einen Fehler

                                      <i class="fas fa-angle-right float-right"></i>
                                    </a>
                                    </p>
                                        <button type="button" class="btn float-left btn-outline-danger">Sohrab Mj</button>
                                    </div>

                                </div>

                            </div>
                            <div class="single-news">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                            <img src="assets/img/5.jpeg"
                                                 class="img-fluid rounded-0" alt="Minor sample post image">
                                            <a>
                                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="font-small text-left mb-2"></p>
                                        <p class="text-left"><a>The ONE MINUTE ! The SOLDIER's Minute ! In a Battle, That's all you GET. ONE MINUTE OF EVERYTHING at ONCE. AND ANYTHING BEFORE is NoThing ! EVERYTHING AFter IS NOTHing ! Nothing in COMPARISON to that One Minute
                                            <i class="fas fa-angle-right float-right"></i>
                                        </a>
                                        </p>
                                        <button type="button" class="btn float-left btn-outline-danger">Thommy shelby</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  <div class="container-fluid secondary-bg">
    <div class="row">
      <h1 class="text-center my-5 mx-auto primary-color">Sozialwissenschaft</h1>
    </div>
    <div class="card-group ">
      <div class="card mx-5 primary-bg">
        <img
          src="assets/img/ss.jpeg" style="height: 350px"
          class="card-img-top" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">
            Hoffnung und Motivation</h5>
          <p class="card-text">
            everything is possible
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 days ago</small>
          </p>
        </div>
      </div>
      <div class="card mx-5 primary-bg">
        <img
          src="assets/img/edit1.jpeg" style="height: 350px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Interpersonale Konflikt</h5>
          <p class="card-text">
            Wenn Zwei Personen verschiedene Interessengegensätze haben
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card mx-5 primary-bg ">
        <img
          src="assets/img/edit.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Bindungstheorie von John Bolby
            </h5>
          <p class="card-text">
            Bowlby nahm an, dass die ständige Verfügbarkeit der Bindungsperson in den ersten Lebensjahren unabdingbar ist, damit das Kind eine sichere Bindung entwickeln kann. Die Entwicklung der Bindung hänge aber nicht von der ständigen Anwesenheit der Bezugsperson ab, sondern vor allem von der entwickelten Qualität der Bindung
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</main>
    <div class="container-fluid pt-5  z-depth-1 primary-bg" >
        <section class="p-md-3 mx-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-center pink-text">
                    <h2 class="font-weight-bold pb-4">Mind Control</h2>
                  <img src="assets/img/matrix.jpg">
                    <i class="far fa-gem fa-6x mb-2"></i>
                    <p class="grey-text pt-4">We are all under controll from Matrix !
                      We are Sleeping! we have forgot our simple life
                    </p>
                </div>
            </div>
            <hr class="mx-5">
            <div class="row text-center">
                <div class="col-md-6 mb-5">
                    <div class="mt-3">
                      <div class="img-fluid">
                        <img src="assets/img/mobile.jpg" width="200px" style="height: 200px">
                      </div>
                        <h4 class="font-weight-bold mb-3 my-3">Social media</h4>
                        <p class="text-muted mb-0">
                          negative impact of social media is that especially children are very sensitive for cyber-bullying. Through social media it’s easier for bullies to terrorize their victims anonymously and this will tend to deep mental scars at the people who are getting bullied. The phenomena Cyber-bullying is growing very fast the last years, nowadays 42 percent of the children is reporting that they have been victims of bullying
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="mt-3">
                      <div class="img-fluid">
                        <img src="assets/img/music.jpg" width="200px" style="height: 200px">
                      </div>
                        <h4 class="font-weight-bold mb-3 my-3">Music</h4>
                        <p class="text-muted mb-lg-0">
                          Humans could be much more efficient communicators if they could bypass language altogether and directly transmit thoughts, ideas and instructions from one brain to another. Scientists have demonstrated that instant brain-to-brain communication could become a reality with the help of computers                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>


