<div class="container-fluid view dark-grey-text secondary-bg">
  <div class="row">
    <div class="col-md-12">
      <div class="view overlay">
        <img class="img-fluid" src="assets/img/intro.jpg"  width="100%" style="height: 450px" alt="Sample image">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: -120px">
        <div class="card text-center secondary-bg">
          <h3 class="font-weight-bold text-center my-3 text-success">Plan</h3>

          <h3 class="font-weight-bold text-center my-3 text-white">Wochenplan 0.1.02.2021-05.02.2021
          </h3>
          <h3 class="font-weight-bold text-center my-3 text-white">Wochenziel: M2/3 + Englisch LN Abschließen.
          </h3>
          <div class="container img-fluid">
            <img src="assets/img/11.jpeg">
          </div>

          <h5 class="font-weight-bold  my-3 text-white text-left mx-5"> Die Ziele erreicht?
            Ja! ich habe meine Ziele erreicht, ich habe Englisch LN abgeschlossen und m2/3 schicke ich nachher ab.

          </h5>
          <h5 class="font-weight-bold text-left my-3 text-white mx-5">Wochen Reflexion?
            Die ganze Woche war interessant und produktive für mich, weil ich eine besondere Idee bekommen und darüber habe ich mich gekümmert und bis nächste Woche habe ich ein Überraschung for you xD
          </h5>

        </div>
      </div>
    </div>
  </div>


</div>
