<div class="container-fluid view dark-grey-text">
  <div class="row">
    <div class="col-md-12">
      <div class="view overlay">
        <img class="img-fluid" src="assets/img/intro.jpg"  width="100%" style="height: 450px" alt="Sample image">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: -120px">
        <div class="card text-center secondary-bg primary-color px-5 my-5">
          <h3 class="font-weight-bold text-center my-3">Abaout me</h3>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="view zoom ">
                  <img src="assets/img/esi.jpg" class="img-fluid rounded-0" alt="sample-image" style="width: 100%; height: 330px">
                </div>
                <p class="my-5 font-small">Mom, I love you, but this trailer's got to go, I cannot grow old in Salem's Lot.
              </div>
              <div class="col-md-6">
                <div class="view zoom ">
                  <img src="assets/img/esi2.jpg" class="img-fluid rounded-0" alt="sample-image" style="width: 100%; height: 330px">
                </div>
                <p class="my-5 font-small">Der Sinn des Lebens besteht nicht darin ein erfolgreicher Mensch zu sein, sondern ein Wertvoller
              </div>
            </div>
            <div class="col-md-12 text-center">
              <h4 class="text-center font-weight-bold dark-grey-text mt-5">
                <strong class="font-weight-bold">My Social media</strong>
              </h4>
              <p>
                Esi
                Ich bin Esmail Ebrahimi, meine Freunde nennen mich „Esi“. Ich wurde am 11. April 2001 in der zweiten Großstadt im Iran geboren. Ich besuchte den Kindergarten, Mittelschule und Gymnasium bis zur 11. Klasse im Iran und bekam dadurch den 11.Klasse Abschluss. Ich wohne seit einem Jahr und 10 Monate ganz alleine in Deutschland, vor meinem Ausbildungsbeginn hier am SKD habe ich die 10.Klasse auf dem Jahn Gymnasium hier in Greifswald besucht. Die Stadt Greifswald ist total schön und belebt und schön.
              </p>
            </div>
            <div class="img-fluid text-center">
              <img src="assets/img/koori.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view">
    <img src="assets/img/germany.jpg" width="100%">
  </div>

</div>
